@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --color-blue: #202B5B;
  --color-pink: #fc9dbb;
  --color-white: #faf3eb;
  --color-pinkGradientStart: #fa6c99;
  --color-pinkGradientEnd: #fc9dbb;
  --color-blueGradientStart: #202b5b;
  --color-blueGradientEnd: #2d3d81;
  --color-whiteGradientStart: #f0dbc2;
  --color-whiteGradientEnd: #faf3eb;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


